:root {
    --primary-color: #CA7D2B;
    --secondary-color: #841C26;
    --accent1-color: 34, 55, 109;
    --accent2-color: #177E89;
    --heading-font: 'Passero One';
    --body-font: 'Poiret One';
    --text-color: #333;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    position: absolute;
}

h2{
    font-size: 2rem;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-family: var(--body-font);
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.sociallinks a {
    text-decoration: none;
}

article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: rgba(var(--accent1-color), 0.8);
    padding: 20px;
    color: white;
}

article img {
    float: right;
    width: 30%;
    margin-left: 15px;
    margin-bottom: 10px;
}
